spring:
  application:
    name: pokekernel

  profiles:
    active: dev

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    encoding: UTF-8
    mode: HTML

  jackson:
    time-zone: Asia/Seoul
    serialization:
      write-dates-as-timestamps: false

  config:
    import: optional:aws-secretsmanager:pokekernel-secrets


